# Lesson 2

This is a skeleton notebook for lesson 2.  I have it set to View Only, so you will need to make your own copy to work on: File|Save a copy in Drive

Python notebooks are also called "iPython notebooks" or "Jupyter notebooks" and the filename extention is .ipynb (ipython notebook).  

Drive opens .ipynb files in Colaboratory (colab), which is a google-hosted execution environment to run your notebook.  However, .ipynb is a standard file format, and you can download the .ipynb file and run it on your own machine rather than in the cloud.   You will probably choose to run it in Jupyter, which is a standard component of the Anaconda package.   Lots of unfamilar words, but if you want to try out those things, all free, just google those words.

## Scratch pad colab notebook

Useful scratchpad: unsaved empty notebook (not saved to your colab folder)
https://colab.research.google.com/notebooks/empty.ipynb

#Loops

"dot" notation, how AI is helpful for things like this that are not well indexed in typical python resources. e.g.: "Explain what dot notation is used for in python"

Loops in loops?

Importing libraries

print with end=

Write a program that operates on only the even numbers from 2 to 30. For each even number, print the number, the factorial of the number, and the log (base e) of the factorial of the number, with appropriate words.

You will have to import the math module if you want to use the function math.factorial() or math.log()

In [7]:
# first generate even numbers between 2 and 30


for i in range(2,31):
    # filter out numbers that are odd
    if i%2==0:
        # Remember factorial of N is N*N-1*N-2 .... until N= 1
        myfact = 1
        init_val = i
        while init_val > 0:
            myfact=myfact*init_val
            init_val = init_val - 1 # init_val -= 1
        print('For a value of ', i, ' the factorial is ', myfact)

For a value of  2  the factorial is  2
For a value of  4  the factorial is  24
For a value of  6  the factorial is  720
For a value of  8  the factorial is  40320
For a value of  10  the factorial is  3628800
For a value of  12  the factorial is  479001600
For a value of  14  the factorial is  87178291200
For a value of  16  the factorial is  20922789888000
For a value of  18  the factorial is  6402373705728000
For a value of  20  the factorial is  2432902008176640000
For a value of  22  the factorial is  1124000727777607680000
For a value of  24  the factorial is  620448401733239439360000
For a value of  26  the factorial is  403291461126605635584000000
For a value of  28  the factorial is  304888344611713860501504000000
For a value of  30  the factorial is  265252859812191058636308480000000

#  Code cells
What if you put just an expression on a line, no "print"?

What if you use spaces instead of tabs, or mix them?

Can I supress the *newline* after every print?

Find the cell context menu

In [15]:
5*5
3*3
y = 5


print('my friend', end='\n')
print('has brown hair')

my friend
has brown hair

In [ ]:
for i in range(10):
    print(i)
print("is a number")    #indentation matters
print("i'm done")

**How to comment and uncomment blocks of text**

# `range`

Like everything in python, it is an object.

It's a special kind of object: an iterable

Can I change `number` inside the loop?

In [19]:
for number in range(20):
    if (number % 5 == 0):
        print(number, 'is divisible by five')

0 is divisible by five
5 is divisible by five
10 is divisible by five
15 is divisible by five

In [20]:
type(number)

int

In [22]:
j = 1
type(j)

int

In [24]:
j = 1.
type(j)

float

In [ ]:
type(1.)

# do this with a range object, by defining a variable = range(X)
# what kind of object is it?

# explore `type`,   `import`,    attributes.

what's with those dots, like `math.sin()` ?

`import`, like everything, note that cells run in order run, not top to bottom

`clear output` by cell or whole nb

`restart runtime`

In [29]:
import math

# explore type()
a = [2, 4, 6, 'a']


a[0]
a[1]
math.sin(3.)

0.1411200080598672

In [31]:
type(a[3])

str

In [ ]:
import math
j = 1.1
k = math.sin(j)
print(k)

In [32]:
a = (2 + 4j)
print(abs(a))

4.47213595499958

# Proper style in python
...there are certain style considerations that dictate good practice in naming variables:

* Variable names should be meaningful (`area` is better than `a`)  
* But not *too* long.  `the_area_of_the_triangle` is unwieldy
* Generally, don’t use `I` (uppercase i), `l` (lowercase L) or the uppercase letter `O`: they look too much like the digits `1` and `0`
* The variable names `i`, `j` and `k` are usually used as integer counters;
Use lowercase names, with words separated by underscores rather than ‘Camel-Case’: for example, `mean_height` and not `MeanHeight`

These and many other rules and conventions are codified in a style guide called PEP8 which forms part of the Python documentation.

Quick markdown guide: https://colab.research.google.com/notebooks/markdown_guide.ipynb; PEP8 standard https://peps.python.org/pep-0008/

# Logic

* `and`, `or`

* `True`, `False`

* `=` vs. `==`,

* '!=', `<`, `>`

I love parentheses

In [35]:
1==(1 or 3)>4

False

In [36]:
'1'=='1' or 3>4

True

In [37]:
a=1
print(a)

1

In [38]:
a=3
print(a)

3

# Conditionals

In [ ]:
for i in range(10):
    if (i > 5):
        print(i, ' is greater than 5')
    elif (i == 3):
        print("three?")
    elif (i == 1):
        print('one?')
    else:
        print(i, " isn't greater than five")

# Lists and strings

Lists and strings are iterable, just like range

And slicable

There are so many list methods -- look that up (python list methods)

In [ ]:
mylist = [1, 4, 6, "hello"]
print(mylist)

[1, 4, 6, 'hello']

In [ ]:
mystring = 'abcdefghijklmnop'
print(mystring)

In [ ]:
for me in mylist:
    print(type(me))

In [ ]:
for me in mystring:
    print(me, end='\t')

'+=' vs '.append'.

Here's a fun example which shows how one form of adding a string to a list treats the string as an interable, while the other form treats it as a singular object.

In [ ]:
mylist += 'the end'    # a += 1  is shorthand for a = a + 1
mylist.append('the end')
print(mylist)

[1, 4, 6, 'hello', 't', 'h', 'e', ' ', 'e', 'n', 'd', 'the end']

# Iterable

Means you can draw elements out of it in sequence

`for` draws elements out of `range` one by one

it can also draw elements one by one out of *any* iterable, including a list

In [ ]:
for i in range(2, 30, 3):   # oh, range can be fancy!
    print(i, end=' ')

2 5 8 11 14 17 20 23 26 29

# Exercise

* Calculate the fibonacci numbers.  (Don't use math.fibonacci)

* each fib # is the sum of the previous two.  Start with 0, 1

* change it so it's the previous *three*

* ...or so that it start swith some other initial pair other than 0, 1

In [ ]:
# add up the numbers
a = 1
for i in range(30)